<%- include ('../partials/header') %>
<div class="container my-5">

    <header>
        <br>
        <h1>New Rooms</h1>
      </header>
      <div>
          <%- include ('./_form') %>
      </div>
</div>

<%- include ('../partials/footer') %>
